@charset "utf-8";

body {
  background-color: rgb(252, 88, 88);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  color: black;
  font-size: 250%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  background-color: hsl(200, 15%, 55%);
  color: hsl(200, 15%, 30%);
  font-size: 200%;
  text-decoration: underline;
}

h3 {
  background-color: hsl(200, 15%, 65%);
  color: hsl(200, 15%, 40%);
  font-size: 130%;
  font-style: italic;
}

p {
  background-color: hsl(200, 15%, 75%);
}

em {
  color: hsl(200, 100%, 40%);
  font-style: normal;
  font-weight: bold;
}

strong {